.link{
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  
  .link:visited{
    color: black;
  }

.link:hover {
color: rosybrown;
}

.body{
    margin: 3em;
    text-align: center;
}

.project-tile-container{
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
}

.project-tile{
    align-self: auto;
    width: 38em;
    height: 38em;
}

.project-tile-image{
    width: 95%;
    height: 90%;
}

.blog-content{
    text-align: left;
    line-height: 2em;
    margin-left: 12em;
    margin-right: 12em;
    font-size: 1.25em; 
}

#post-list-title{
    text-align: left;
}

.project-description{
    text-align: left;
    margin-right: 15em;
    margin-left: 15em;
    font-size: 1.25em;
}

.coding-in-blog{
    text-align: left;
    line-height: 1em;
    margin-left: 14em;
    margin-right: 14em;
    font-size: 1.10em;
    background-color: lightgray;
    padding: .5em;
}

.anchor-tag{
    line-height: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 15em;
    margin-right: 15em;
    text-align: left;
}

.blog-heading{
    margin-top: 2em;
    margin-bottom: 2em;
}

.screenshots-for-blog{
    margin-left: 6em;
    margin-right: 6em;
    width: 60em;
   
}

.other-screenshots-for-blog{
    margin-left: 6em;
    margin-right: 6em;
    width: 40em;
}

.publications-book-container{
    display: flex;
    margin-top: 3em;
    justify-content: space-evenly;
}

.publication-book-tile{
    align-self: auto;
    width: 25em;
    height: 35em;
}

.book-image{
    width: 100%;
    height: 100%;
}

.book-container-on-show-page{
    display: flex;
    justify-content: center;
}

.book-image-on-show-page{
    width: 20em;
    height: 30em;
    margin-left: 5em;
    margin-right: 2em;
    margin-top: 1em;
   
}

.book-description{
    margin-top: 1em;
    text-align: left;
   width: 20%;
   height: 35%;
   margin-right: 5em;
   margin-top: 3em;
}

.return-to-publications-link{
    margin-top: 3em;
}

.container-for-home-page{
    display: flex;
    justify-content: center;

}

.profile-photo{
    width: 40em;
    height: 30em;
    margin-left: 5em;
    margin-right: 2em;
    margin-top: 2em;
}

.links-on-home-page{
    margin-top: 2em;
    font-weight: .75em;
}

.second-container-for-home-page{
    text-align: left;
    width: 20%;
   height: 35%;
   margin-right: 5em;
}

.blog-container{
    display: flex;
    justify-content: center;
}

.blog-intro{
    text-align: left;
    width: 30%;
    line-height: 2.5em;
    margin-top: 2em;
    margin-right: 15em;
    font-weight: .25em;
}

.blog-list{
    width: 60em;
    height: 30em;
    margin-left: 7em;
    margin-top: 2em;
}

.messages-for-loading{
    text-align: center;
    margin: 2em;
}




   







