.link:link{
    color: black;
    text-decoration: none;
  }
  
  .link:visited{
    color: black;
  }

.link:hover {
color: rosybrown;
}

.body{
    margin: 3em;
    text-align: center;
}

.profile-photo{
    width: 55%;
}

.project-tile-container{
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
}

.project-tile{
    align-self: auto;
    width: 38em;
    height: 38em;
}

.project-tile-image{
    width: 95%;
    height: 90%;
}

.blog-content{
    text-align: left;
    line-height: 2em;
    margin-left: 15em;
    margin-right: 15em;
    font-size: 1.25em;
    
}

#post-list-title{
    text-align: left;
}