.link{
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  
  .link:visited{
    color: black;
  }

.link:hover {
color: rosybrown;
}

.body{
    margin: 3em;
    text-align: center;
}

.profile-photo{
    width: 55%;
}

.project-tile-container{
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
}

.project-tile{
    align-self: auto;
    width: 38em;
    height: 38em;
}

.project-tile-image{
    width: 95%;
    height: 90%;
}

.blog-content{
    text-align: left;
    line-height: 2em;
    margin-left: 15em;
    margin-right: 15em;
    font-size: 1.25em; 
}

#post-list-title{
    text-align: left;
}

.project-description{
    text-align: left;
    margin-right: 15em;
    margin-left: 15em;
    font-size: 1.25em;
}

.profile-description{
    text-align: left;
    margin-right: 15em;
    margin-left: 15em;
    font-size: 1.25em;

}

.coding-in-blog{
    text-align: left;
    line-height: 1em;
    margin-left: 20em;
    margin-right: 20em;
    font-size: 1.10em;
    background-color: lightgray;
    padding: .5em;
}

.anchor-tag{
    line-height: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 22em;
    margin-right: 22em;
    text-align: left;
}

.blog-heading{
    margin-top: 2em;
    margin-bottom: 2em;
}





